#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="@ESP32_PARTITION_TABLE_FILE_PATH@"
CONFIG_PARTITION_TABLE_FILENAME="@ESP32_PARTITION_TABLE_FILE_PATH@"
CONFIG_PARTITION_TABLE_OFFSET=@ESP32_PARTITION_TABLE_OFFSET@
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table